<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/assets/style.css" media="screen" title="no title" charset="utf-8">
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Person: <%= ID %> and <%= Qstr %></h1>
    </body>
</html>
